:root {
  --color-primary: #4f95ff;
  --shadow: 2px 4px 16px rgba(176, 183, 234, 0.3);
}

html,
body {
  background: radial-gradient(50% 50% at 50% 50%, #ebedff 0%, #fafaff 100%);
  font-family: Satoshi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}
